<div class="container">
    <app-team-card
        title="Alireza Matinkhah"
        description="Front end"
        src="assets/team/download.jpg"
        githubLink="https://github.com/"
        emailLink="Matinkhah@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Yasin Karbasian"
        description="Back end"
        src="assets/team/download.jpg"
        githubLink="https://github.com/"
        emailLink="Karbasian@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Aref Habibi"
        description="Front end"
        src="assets/team/download.jpg"
        githubLink="https://github.com/"
        emailLink="Habibi@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Mostafa Derispour"
        description="Back end"
        src="assets/team/download.jpg"
        githubLink="https://github.com/"
        emailLink="Derispour@gmail.com"
    ></app-team-card>
</div>
